* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    vertical-align: top;
    font-size: 4rem;
    background: url("../img/design1_image1.jpg") center no-repeat;
    min-height: 8vh;
    padding: 0 0 5rem 0;
}

header>h2 {
    min-height: 4rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    background: #000;
    padding: 0.50rem;
}

header img {
    background-color: white;
    width: 10rem;
    margin: -7.5rem 0 0 80vw;
    border-radius: 0.5rem;
    border: red solid;
}

nav {
    background-color: rgba(255, 255, 255, 0.474);
    width: 100%;
}

nav>a {
    display: block;
    padding: 1rem 2rem;
}


nav>a:hover {
    background-color: white;
}

main>div,
main>section {
    display: inline-block;
    vertical-align: top;
    max-width: 85vw;
}

.index,
.about,
.contact {
    max-width: 100%;
    background-image: url("../img/hockey_1.jpg");
}

article,
div>p {
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.43);
}